<app-navbar-user></app-navbar-user>


<!-- <link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
 <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
 <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



 <p-table [value]="productslist" [rows]="1" [paginator]="true">
    <ng-template pTemplate="header">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Cost</th>
            <th scope="col">Product Category</th>
            <th scope="col">Action</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-products>
        <tr>
            <td><img src="{{products.image}}" alt="" ng-style="{ 'width' : image.width, 'height' : image.height }"></td>
            <td>{{products.productName}}</td>
          <td>{{products.productDescription}}</td>
          <td>{{products.productCost}}</td>
          <td>{{products.productCategory}}</td>
          <button pButton type="button" label="Add to Cart" (click)="addToCart(products._id)"></button>/
          <button pButton type="button" label="Edit" [routerLink]="['/edit-products',products._id]"></button>

        </tr>
    </ng-template>
</p-table> -->


<div class="container">
  <h2>Products</h2>
  <br>

  <div class="row">
    <div class="col-md-6" *ngFor="let products of productslist">
      <div class="panel panel-primary" position="">
          <div class="col-md-6">
              <div class="panel-body">
                  <tr>
                    <img src={{products.file}} class="img-responsive" style="width:200px" height="200px" alt="Image"> </tr>
                </div>      
                <div class="panel-body">
                    <tr style="font-size: 25px">Name of Product:{{ products.productName }}</tr>
                  </div>
                  <div class="panel-body">
                      <tr style="font-size: 25px">Description:{{ products.productDescription }}</tr>
                    </div>
                    <div class="panel-body">
                        <tr style="font-size: 25px">Cost:{{ products.productCost }}</tr>
                      </div>
                  <span class="border border-top-0"></span>
                <div class="panel-body">
            <button class="btn btn-primary btn-sm button button3" routerLink='/add-to-cart/add-to-cart' style="width:auto;">Add to Cart</button>

                </div>
          </div>
      </div>
    </div>
  </div>
</div>








<app-footer-user></app-footer-user>