<div class="col-md-3">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">

<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="login(rForm.value)">
    <div class="form-container">
      <div class="row columns">
       
        <h1>Welcome to Ecommerceyyyyy</h1>
        <label>Username
          <input type="text" formControlName="username">
        </label>
        <div class="alert" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">{{ titleAlert }}</div>

        <label>Password
          <input type="text" formControlName="password">
        </label>
       <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      
    
      </div>
    </div>
  </form>
</div>
</div>



