.footer-bottom {
    padding: 10px 30px;
    border-top: 1px solid #666;
    background: #1e1e1e;
    /* position: fixed; */
    left: 0;
   bottom: 0;
   width: 100%;
   /* text-align: center; */
}
.copyright-text p {
    color: #ccc;
    margin-top: 9px;
    margin-bottom: 0;
    text-align: center;
}
.social-link li {
    display: inline-block;
    margin: 0 5px;
}
.social-link li a {
    color: #ccc;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
}