<app-navbar></app-navbar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">

<div class="container">
  <div *ngIf="!name; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="editProducts(rForm.value)">
      <div class="form-container">
        <div class="row columns">
          <h1>Edit Products</h1>
          <label style="font-size: 15px">Name of product
            <input type="text" formControlName="productName" class="form-control">
          </label>
          <!-- <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div> -->
          <br>
          <label style="font-size: 15px">Description
          </label>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="5" formControlName="productDescription"></textarea>
  
          <label style="font-size: 15px">Cost of product
            <input type="text" formControlName="productCost" class="form-control">
          </label>
          <br>

          <label style="font-size: 15px">Product Category
            <input type="text" formControlName="productCategory" class="form-control">
          </label>
          <br>

          <!-- <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 30 and 500 characters.</div> -->
          <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
          <input type="submit" class="button expanded" value="Submit Form" style="font-size: 15px">
        </div>
      </div>
    </form>
  </div>
</div>


<app-footer></app-footer>