<app-navbar></app-navbar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
<div *ngIf="!name; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="editUsers(rForm.value)">
      <div class="form-container">
        <div class="row columns">
          <h1>Add User</h1>
          <label style="font-size: 15px">Username
            <input type="text" formControlName="username" class="form-control">
          </label>
          <label style="font-size: 15px">Password
              <input type="text" formControlName="password" class="form-control">
            </label>
            <label style="font-size: 15px">Email
                <input type="text" formControlName="email" class="form-control">
              </label>
            <input type="submit" class="button expanded" value="Submit Form" style="font-size: 15px">
      </div>
    </div>
  </form>
</div> 
